<h1>Parcel Data Calculator</h1><br />

<h3>Enter your parcel dimensions (inches) and weight (pounds) to determine your
  shipping cost:</h3>
<form action='/results'>
  <div class="form-group">
    <label for="length">Parcel length:</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Parcel width:</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Parcel height:</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Parcel weight:</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
