<h1>Volume and shipping costs for your parcel:</h1><br />
<ul>
  <li>Volume: <%= @volume %> lbs.</li>
  <li>Cost to Ship: $<%= sprintf('%.2f', @cost_to_ship) %> </li>
</ul><br />
<a href="/"><button class="btn">Again</button></a>
